.multi-level-list {
    list-style: none;
    padding-left: 0;

    li {
        position: relative;
    }

    .multi-level-list-child {
        &:after {
            width: 24px !important;
        }

        li:not(:first-child):after {
            width: 24px;
        }

        li {
            &.no-child-items {
                width: 38px;
            }
        }

    }

    li:not(:last-child) {
        border-left: 1px solid #e4e6e9;
        padding-bottom: 30px;
    }

    li:not(:first-child):after {
        content: "";
        position: absolute;
        top: 0;
        height: 12px;
        width: 38px;
        border-bottom-left-radius: 4px;
        border-bottom: 1px solid #e4e6e9;
    }

    li:last-child {
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            height: 12px;
            border-left: 1px solid #e4e6e9;
        }
    }
}




/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --gradient-color: linear-gradient(95deg,
                  hsl(286, 97%, 57%) -7%,
                  hsl(256, 84%, 48%) 112%);
  --first-color-light: hsl(256, 64%, 88%);
  --first-color-lighten: hsl(256, 58%, 94%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(256, 100%, 98%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 1.5rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}


/*=============== RANGE SLIDER ===============*/
.container{
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
 }
 
 // Custom input range
 .range{
    // height: 100%;
    width: 100%;
    max-width: 332px;
    background-color: lightgray;
    border-radius: 4rem;
    display: grid;
 
    &__content{
       position: relative;
       width: 100%;
       display: grid;
       place-items: center;
    }
    &__slider{
       width: 100%;
       height: 16px;
       background-color: lightgray;
       border-radius: 4rem;
       overflow: hidden;
 
       &-line{
          width: 100%;
          height: 100%;
          background: #6AC06A;
          width: 0;
       }
    }
    &__thumb{
       width: 32px;
       height: 32px;
       background-color: #fff;
       border-radius: 50%;
       box-shadow: 0 2px 12px rgba(101, 99, 105, 0.2);
       position: absolute;
       display: flex;
       align-items: center;
       justify-content: center;
       border: 2px solid lightgray;
    }
    // Value input range
    &__value{
       width: 64px;
       height: 64px;
       background: slateblue;
       color: #fff;
       font-size: 1.24rem;
       position: absolute;
       top: -82px;
       left: -16px;
       border-radius: 0.5rem;
    //    transform: rotate(-45deg);
       display: grid;
       place-items: center;
 
       &-number{
        //   transform: rotate(45deg);
          color: var(--white-color);
          font-size: var(--h1-font-size);
       }
    }
    // Default input range
    &__input{
       appearance: none;
       width: 100%;
       height: 16px;
       position: absolute;
       opacity: 0;
 
       &::-webkit-slider-thumb{
          appearance: none;
          width: 32px;
          height: 32px;
 
          &:hover{
             cursor: pointer;
          }
       }
    }
 }