<!-- <div class="card">
  <div class="card-body">

    <div class="d-flex align-items-center">
      <span class="ki-bullseye ki ki-blue mr-8"></span>
      <div>
        <p>jdnvcidjnv</p>
      </div>
    </div>
    <ul class="multi-level-list ml-12">
      <li class="border-left h-20"></li>
      <li>
        <div class="pl-40 ml-8">
          <div class="d-flex align-items-start">
            <span class="ki-list-checked ki ki-accent-yellow mr-8"></span>
            <div>
              <p>jdnvcidjnv</p>
              <p>jdnvcidjnv</p>
              <p>jdnvcidjnv</p>
              <p>jdnvcidjnv</p>
            </div>
          </div>
        </div>
      </li>
      <li class="multi-level-list-child">
        <div class="pl-24">
          <div class="d-flex align-items-center">
            <span class="ki-chevron-up ki"></span>
            <span class="ki-list-checked ki ki-accent-yellow mr-8"></span>
            <div>hdbvkjfd</div>
          </div>
          <ul class="list-unstyled pl-12">
            <li class="border-left h-20"></li>
            <li>
              <div class="pl-24">
                <div class="d-flex align-items-center">
                  <span class="ki-chevron-up ki"></span>
                  <span class="ki-list-checked ki ki-accent-yellow mr-8"></span>
                  <div>hdbvkjfd</div>
                </div>
                <ul class="list-unstyled pl-12">
                  <li class="border-left h-20"></li>
                  <li>
                    <div class="pl-24">
                      <p>jdnvcidjnv</p>
                      <p>jdnvcidjnv</p>
                      <p>jdnvcidjnv</p>
                    </div>
                  </li>
                  <li>
                    <div class="pl-24">
                      <div class="d-flex align-items-center">
                        <span class="ki-chevron-up ki"></span>
                        <span class="ki-list-checked ki ki-accent-yellow mr-8"></span>
                        <div>hdbvkjfd</div>
                      </div>
                      <ul class="list-unstyled pl-12">
                        <li class="border-left h-20"></li>
                        <li>
                          <div class="pl-24">
                            fghjk
                            dssgvvg
                          </div>
                        </li>
                        <li>
                          <div class="pl-24">
                            fghjk
                            dssgvvg
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="pl-24">
                <div class="d-flex align-items-center">
                  <span class="ki-chevron-up ki"></span>
                  <span class="ki-list-checked ki ki-accent-yellow mr-8"></span>
                  <div>hdbvkjfd</div>
                </div>
                <ul class="list-unstyled pl-12">
                  <li class="border-left h-20"></li>
                  <li>
                    <div class="pl-24">
                      fghjk
                      dssgvvg
                    </div>
                  </li>
                  <li>
                    <div class="pl-24">
                      fghjk
                      dssgvvg
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="pl-40 ml-8">
          <div class="d-flex align-items-center">
            <span class="ki-list-checked ki ki-accent-yellow mr-8"></span>
            <div>
              hdbvkjfd
              dfjnvkjfnvk
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="pl-40 ml-8">
          <div class="d-flex align-items-center">
            <span class="ki-list-checked ki ki-accent-yellow mr-8"></span>
            <div>
              hdbvkjfd
              dfjnvkjfnvk
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div> -->

<div class="card clear-margin">
  <div class="card-body">
      <div class="d-flex align-items-center">
          <span class="ki-bullseye-arrow ki ki-blue mr-8"></span>
          <div>
            <p>This is a goal</p>
          </div>
      </div>
      <ul class="multi-level-list ml-12">
      <li class="border-left h-40">
          <div class="d-flex gap-2 mt-4 ml-20 mb-10">
              <p>Detail: 1</p>
              <p>Detail: 2</p>
              <p>Detail: 3</p>
              <p>Detail: 4</p>
          </div>
      </li>
      <li>
          <div class="pl-40 ml-8">
          <div class="d-flex align-items-start">
              <span class="ki-list-checked ki ki-accent-green mr-8"></span>
              <div>
                  <p>This is a goal level tasks</p>
              </div>
          </div>
          </div>
      </li>
      <li class="multi-level-list-child">
          <div class="pl-24">
            <div class="d-flex align-items-start">
                <span class="ki-chevron-up ki"></span>
                <span class="ki-chart-line-up ki ki-accent-purple mr-8"></span>
                <div>
                    <p>This is a sub-goal</p>
                    <div class="d-flex gap-2 mt-4">
                        <p>2 Tasks</p>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled pl-12">
                <li class="border-left h-20"></li>
                <li>
                  <div class="pl-24">
                      <div class="d-flex align-items-center">
                      <span class="ki-list-checked ki ki-accent-green mr-8"></span>
                      <div>This is a sub-goal level task</div>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="pl-24">
                      <div class="d-flex align-items-center">
                          <span class="ki-list-checked ki ki-accent-green mr-8"></span>
                          <div>This is a sub-goal level task</div>
                      </div>
                  </div>
                </li>
            </ul>
          </div>
      </li>
      <li>
          <div class="pl-40 ml-8">
          <div class="d-flex align-items-center">
              <span class="ki-list-checked ki ki-accent-green mr-8"></span>
              <div>
                  This is a goal level task
              </div>
          </div>
          </div>
      </li>
      <li class="">
          <div class="pl-40 ml-8">
              <div class="d-flex align-items-center">
                <span class="ki-chart-line-up ki ki-accent-purple mr-8"></span>
                <div>
                  <p>This is a sub goal</p>
                </div>
              </div>
            </div>
      </li>
      </ul>
  </div>
</div>

<hr class="my-50">

<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="range">
         <div class="range__content">
            <div class="range__slider">
               <div class="range__slider-line" id="range-line"></div>
            </div>
            
            <div class="range__thumb d-flex align-items-center" id="range-thumb">
              <i class="ki ki-drag-indicator"></i>
               <div class="range__value">
                  <span class="range__value-number" id="range-number">50</span>
               </div>
            </div>

            <input type="range" class="range__input" id="range-input" min="0" max="100" value="50" step="1" (input)="test($event)" (change)="test2($event)">
         </div>
      </div>
   </div>
  </div>
</div>